<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<header>
    <div class="section__container header__container">
      <div class="header__image">
        <img src="assets/acc.jpg" alt="header" width="1800px" height="420px"/>
        <img src="assets/akk.jpg" alt="header" />
      </div>
      <div class="header__content">
        <div>
          <p class="sub__header">Salut 👋</p>
          <h2>Demander vos APIs maintenant</h2>
          <p class="section__subtitle">
            Simplifiez la gestion de votre consommation d'APIs avec notre application. Nous offrons les meilleurs outils pour suivre et optimiser l'utilisation de vos services web.
          </p>
          <div class="action__btns">
            <a href="http://www.cni.tn/index.php/fr/">
              <button class="sign-btn">Rejoignez-nous</button>
          </a>
                    </div>
        </div>
      </div>
    </div>
  </header>
